<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel Test Suite" parallel="methods" thread-count="2">
    <test name="Test">
        <classes>
            <class name="org.NTA.BT3.Login" />
            <class name="org.NTA.BT3.Category" />
        </classes>
    </test>
</suite>